header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.image {
    background: url("../images/logo.png") no-repeat;
    height: 70px;
    width: 100%;
    position: absolute;
    margin-left: 20px;
}