.places h1 {
    font-size: 30px;
    display: inline-block;
    margin-left: 12%;
}

.places {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.min_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15%;

}

article {
    width: 390px;
    min-height: 450px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.places h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}

.articles {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    text-align: center;
    line-height: 60px;
    padding: 10px;
}

.information {
    height: 80px;
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.max_guest {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    gap: 0;
}

.number_rooms {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    gap: 0;
}

.number_bathrooms {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.second_icon {
    background: url("../images/icon_bed.png") no-repeat;
    height: 50px;
    width: 50px;
    margin: 0;
    padding : 0;
}

.first_icon {
    background: url("../images/icon_group.png") no-repeat;
    height: 50px;
    width: 50px;
    margin: 0;
    padding : 0;
}

.third_icon {
    background: url("../images/icon_bath.png") no-repeat;
    height: 50px;
    width: 50px;
    margin: 0;
    padding : 0;
}
.user {
    margin-top: 20px;
    display: flex;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.description {
    margin-top: 15px;
    font-size: 15px;
}
